<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<center><h2>รวมเพลงพระราชนิพนธ์
</h2>
<br>
<img src="http://www.kingramamusic.org/sites/default/files/picture/11.png" alt="vv" width="750" height="400">

<p>พระบาทสมเด็จพระปรมินทรมหาภูมิพลอดุลยเดช</p>
</center>
</body>
</html>
