<center><h1>แสงเทียน</h1>
<p>ได้ยินเสียงแว่วดังแผ่วมาแต่ไกลไกล<br>
ชุ่มชื่นฤทัยหวานใดจะปาน<br>
ฟังเสียงบรรเลงกับเพลงประสาน<br>
จากทิพย์วิมานประทานกล่อมใจ<br>
ใกล้ยามเมื่อแสงทองส่อง	<br>
ฉันคอยมองจ้องฟ้าเรืองรำไร<br>
ลมโบกโบยมาหนาวใจ<br>
รอช้าเพียงไรตะวันจะมา<br>
เพลิดเพลินฤทัยฟังไก่ประสานเสียงกัน<br>
ดอกมะลิวัลย์อวลกลิ่นระคนมณฑา<br>
โอ้ในยามนี้เพลินหนักหนาแสงทองนวลผ่องนภา<br>
แสนเพลินอุราสำราญ<br>
หมู่มวลวิหคบินผกมาแต่รังนอน<br>
เฝ้าเชยชิดช้อนลิ้มชมบัวบาน<br>
ยินเสียงบรรเลงดังเพลงขับขาน<br>
สอดคล้องกังวานซาบซ่านจับใจ<br>
<br>
<img src="https://image.dek-d.com/27/0493/7494/123226496">
<br>
เพลงพระราชนิพนธ์ลำดับที่ ๔ ทรงพระราชนิพนธ์ใน พ.ศ. ๒๔๘๙ ขณะทรงเป็นสมเด็กพระอนุชาธิราช ทรงพระกรุณาโปรดเกล้าฯ ให้ศาสตราจารย์ ดร.ประเสริฐ ณ นคร ประพันธ์คำร้องภาษาไทย โดยมีพระเจ้าวรวงศ์เธอพระองค์เจ้าจักรพันธ์เพ็ญศิริ ทรงช่วย ส่วนคำร้องภาษาอังกฤษ ทรงพระกรุณาโปรดเกล้าฯ ให้ท่านผู้หญิงนพคุณ ทองใหญ่ ณ อยุธยา ประพันธ์ขึ้น และพระเจ้าวรวงศ์เธอ พระองค์เจ้าจักรพันธ์เพ็ญศิริ ทรงช่วยแก้ไข แล้วพระราชทานให้วงดนตรีสุนทราภรณ์นำออกบรรเลงครั้งแรกทางสถานีวิทยุกระจายเสียงกรมโฆษณาการ (กรมประชาสัมพันธ์ปัจจุบัน) เมื่อเดือนกรกฎาคม พ.ศ. ๒๔๘๙
</p></center>
