<center><h1>แสงเทียน</h1>
<p>แดดรอนรอน
เมื่อทินกรจะลับเหลี่ยมเมฆาม<br>
ทอแสงเรืองอร่ามช่างงามตา<br>
ในนภาสลับจับอัมพร<br>
แดดรอนรอน<br>
เมื่อทินกรจะลาโลกไปไกล<br>
ยามนี้จำต้องพรากจากดวงใจ<br>
ไกลแสนไกลสุดห่วงยอดดวงตา<br>
แต่ก่อนเคยคลอเคลียกัน<br>
ทุกวันคืนรื่นอุรา<br>
ต้องอยู่เดียวเปลี่ยนวิญญาณ์	<br>
เหมือนดังนภาไร้ทินกร<br>
แดดรอนรอน	<br>
หากทินกรจะลาโลกไปไกล<br>
ความรักเราคงอยู่คู่กันไป	<br>
ในหัวใจคงอยู่คู่เชยชม<br>
แดดรอนรอน	<br>
หมู่มวลภมรบินลอยล่องตามลม<br>
คลอเคล้าพฤกษาชาติชื่นเชยชม	<br>
ชมสมตามอารมณ์ล่องเลยไป<br>
ลิ่วลมโชย	<br>
กลิ่นพรรณไม้โปรยโรยร่วงห่วงอาลัย<br>
ยามสายัณห์พลันพรากจากดวงใจ <br>
คอยแสงทองวันใหม่กลับคืนมา<br>
แต่ก่อนเคยคลอเคลียกัน<br>
ทุกวันคืนชื่นอุรา<br>
ต้องอยู่เดียวเปลี่ยววิญญาณ์	<br>
เหมือนดังนภาไร้ทินกร<br>
โอ้ยามเย็น	<br>
จวบยามนี้เป็นเวลาสุดอาวรณ์<br>
ยามไร้ความสว่างห่างทินกร	<br>
ยามรักจำจะจรจากกันไป<br>
<br>
<img src="https://image.dek-d.com/27/0493/7494/123226496">
<br>
เพลงพระราชนิพนธ์ ยามเย็น เพลงพระราชนิพนธ์ลำดับที่ 2 ทรงพระราชนิพนธ์ ใน พ.ศ. 2489 ขณะยังทรงเป็นสมเด็จพระอนุชาธิราช เป็นงานทดลองของพระองค์ในจังหวะฟ็อกซ์ทร็อต ทรงพระกรุณาโปรดเกล้าฯ ให้พระเจ้าวรวงศ์เธอ พระองค์เจ้าจักรพันธ์เพ็ญศิริ นิพนธ์คำร้องภาษาไทย และท่านผู้หญิงนพคุณ ทองใหญ่ ณ อยุธยา แต่งคำร้องภาษาอังกฤษ แล้วพระราชทานเพลงพระราชนิพนธ์ที่มีคำต้องสมบูรณ์ให้นายเอื้อ สุนทรสนาน นำออกบรรเลงในงานของสมาคมปราบวัณโรค ณ เวทีลีลาศสวนอัมพร เมื่อวันเสาร์ที่ 4 พฤษภาคม พ.ศ. 2489 นับเป็นเพลงพระราชนิพนธ์เพลงแรกที่นำออกบรรเลงสู่ประชาชน เป็นเพลงที่ร่าเริงแจ่มใสเหมาะสำหรับการเต้นรำในสมัยนั้น
</p></center>