<center><h1>แสงเทียน</h1>
<p>จุดเทียนบวงสรวงปวงเทพเจ้า<br>
สวดมนต์ค่ำเช้าถึงคราวระทมทน<br>
โอ้ชีวิตหนอล้วนรอความตายทุกคน<br>
หลีกไปไม่พ้นทุกข์ทนอาทรร้อนใจ<br>
ต่างคนเกิดแล้วตายไป<br>
ชดใช้เวรกรรมจากจร<br>
นิจจังสังขารนั้นไม่เที่ยงเสี่ยงบุญกรรม<br>
ทุกคนเคยทำกรรมไว้ก่อน<br>
เชิญปวงเทวดาข้าไหว้วอน<br>
ขอพรคุ้มไปชีวิตหน้า<br>
ทนทรมานมามากแล้วจะกราบลา<br>
หนีปวงโรคาที่เบียดเบียน<br>
แสงแววชีวาเปรียบแสงเทียน<br>
เปรียบเทียนสิ้นแสงยามแรงลมเป่า<br>
ชีพดับอับเฉาเหมือนเงาไร้ดวงเทียน<br>
จุดเทียนถวายหมายบนบูชาร้องเรียน<br>
โรคภัยเบียดเบียนแสงเทียนทานลมพัดโบย<br>
โรครุมเร่าร้อนแรงโรย<br>
หวนโหยอาวรณ์อ่อนใจ<br>
ทำบุญทำทานกันไว้เถิดเกิดเป็นคน<br>
ไว้เตรียมผจญชีวิตใหม่<br>
เคยทำบุญทำคุณปางก่อนใด<br>
ขอบุญคุ้มไปชีวิตหน้า<br>
ทนทรมานมามากแล้วจะกราบลา<br>
แสงเทียนบูชาจะดับพลัน<br>
แสงเทียนบูชาดับลับไป<br>
<br>
<img src="https://image.dek-d.com/27/0493/7494/123226496">
<br>
เพลงพระราชนิพนธ์เพลงแรก ทรงพระราชนิพนธ์เมื่อเดือนเมษายน พ.ศ.2498 ครั้งดำรงพระราชอิสริยยศเป็น สมเด็จพระอนุชาธิราชได้ทรงพระกรุณา โปรดเกล้าฯ ให้พระเจ้าวรวงศ์เธอ พระองค์เจ้าจักรพันธ์เพ็ญศิริ (ขณะดำรงพระยศเป็นหม่อมเจ้าจักรพันธ์เพ็ญศิริ จักรพันธ์) นิพนธ์คำร้องภาษาไทย แต่เนื่องจากมีพระราชประสงค์ที่จะทรงแก้ไขทำนองและคอร์ดบางตอน จึงยังไม่โปรดเกล้าฯ พระราชทานให้นำออกมาบรรเลงในเวลานั้น ต่อมา ได้พระราชทานให้นำออกบรรเลงครั้งแรก พ.ศ.2490 และใน พ.ศ.2496 นางสาวสดใส วานิชวัฒนา (รองศาสตราจารย์สดใด พันธุมโกมล) ประพันธ์คำร้องภาษาอังกฤษ
</p></center>