<!DOCTYPE html>
<html>
<head>

  <title>Kingsong</title>
  <%= stylesheet_link_tag    'default', media: 'all',
  	 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body background="http://nits.nida.ac.th/main/templates/game_crusade/images/s5_background2.jpg">

<h3>
<div align="right">
<a href="home.html">HOME</a>
<a href="kingsong1.html">Kingsong1</a>
<a href="kingsong2.html">Kingsong2</a>
<a href="kingsong3.html">Kingsong3</a>
</h3>

</div>

<%= yield %>

</body>
</html>
